<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="URL" value="https://anupdamoda.github.io/AceOnlineShoePortal/" />
		<add key="First_Name" value="John" />
		<add key="Last_Name" value="Morrison" />
		<add key="Email_ID" value="johnmanh@mailinator.com" />
		<add key="Phone_Number" value="1234567891" />
		<add key="User_Name" value="johnmanh" />
		<add key="Password" value="P@$$word1" />
		<add key="Salutation" value="Ms." />


	</appSettings>
	  <runtime>
	     <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	        <dependentAssembly>
	           <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
	           <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
	        </dependentAssembly>
	        <dependentAssembly>
	           <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	           <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
	        </dependentAssembly>
	        <dependentAssembly>
	           <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	           <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
	        </dependentAssembly>
	     </assemblyBinding>
	  </runtime>
</configuration>